body {
  margin: 0em;
}

* {
  box-sizing: border-box;
  font-family: "Advent Pro", sans-serif;
}

*::-webkit-scrollbar {
  width: 0.8em;
}
*::-webkit-scrollbar-track {
  background-color: #e6e6e6;
}
*::-webkit-scrollbar-thumb {
  background-color: rgba(158, 158, 158, 0.5);
  border-radius: 0.2em;
}

@font-face {
  font-family: Regular;
  src: url(../../assets/fonts/AdventPro-Regular.ttf);
}
@font-face {
  font-family: Negrito;
  src: url(../../assets/fonts/AdventPro-Bold.ttf);
}

.topo {
  height: 15vh;
  width: 100%;
  background-color: #7dffb1;
  padding: 20px 0px 20px 15px;
}
.topo p {
  margin: 0%;
  padding: 0%;
  font-size: 50px;
  font-weight: 700;
  font-style: normal;
}

.container {
  width: 100%;
  min-height: 85vh;

  padding: 20px;
}

.titulo {
  display: flex;
  font-family: Regular;
  font-size: 2em;
  font-weight: bold;
}

.area {
  background-color: #f1f1f1;
  padding: 20px;

  margin-bottom: 20px;
}

.box-texto {
  margin-top: 2em;
}

.box-texto div {
  justify-content: space-between;

  font-family: Regular;
  font-size: 1.2em;
}

.descricao3 {
  margin: 0em;
}

.desc {
  line-height: 1.4em;
}

.imagem {
  text-align: center;
}

.imagem img {
  height: auto;
  width: 30em;
}

.descricao3 {
  font-family: Regular;
  font-size: 1.2em;
}
.imagemp3 {
  text-align: center;
}

.confititulo {
  display: flex;
  font-family: Regular;
  font-size: 2em;
  font-weight: bold;
}

.textoconfig {
  font-family: Regular;
  font-size: 1.2em;
}

.imgtxtconfig {
  text-align: center;
}

.imgtxtconfig img {
  height: 28em;
  width: auto;
}

.titulocomando {
  display: flex;
  font-family: Regular;
  font-size: 2em;
  font-weight: bold;
  margin-bottom: 10px;
}

.descricao1img {
  text-align: center;
  margin-bottom: 2em;
}

.descricao1 {
  margin-left: 1.5em;
  font-family: Regular;
  font-size: 1.2em;
}

.command-desc {
  margin-left: 1.5em;
  font-family: Regular;
  font-size: 1.2em;
}

.code {
  width: fit-content;
  padding: 2px 5px;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;

  border-radius: 10px;

  margin-bottom: 5px;
  margin-top: 5px;
}

.code span {
  color: #7dffb1;
}

span.git {
  color: #ffff81;
}

span.global {
  color: rgba(255, 255, 255, 0.3);
}

span.selecionada {
  color: #00ff22;
}

span.normal {
  color: white;
}

span.remote {
  color: #9b1313;
}

footer {
  background-color: black;
  padding: 2em;
  font-family: "Advent Pro", sans-serif;
}
.fim {
  color: blanchedalmond;
  font-family: Negrito;
  text-align: center;
}

#index {
  color: #000000;
  text-align: center;
  text-decoration: underline;
  text-decoration-color: #7dffb1;
  text-decoration-thickness: 0.2em;
  font-family: "Advent Pro", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 1.4em;
  line-height: 42px;

  position: relative;
  left: 95%;
}
