*{
    box-sizing: border-box;
}


body{
    margin: 0;
}

/* tentei fazer um div geral para adm todas */
.principal{
    width: 100%;


}

/* para mexer com o titulo e o fundo amarelo do titulo */
.container-topo{
    padding: 2em;
    background: #FFB444;
}

/* texto do titulo */
.container-topo #texto-head{
    text-align: center;
    color: #000000;;

}

/* container COMO FUNCIONA */
.container-comofunciona{
    margin-left: 50px;
    height: 800px;
    background: #F1F1F1;
    
}


/*COntainer COMOCRIAR */
.container-comocriar{
    height: 1700px;
    margin-left: 50px;
    background: #F1F1F1;



}


/*A caixa onde vamos colocar a imagem dos comandos como exemplo */
.container-comandos{
    margin-left: 50px;
    height: 100px;
    width: 800px;
    box-sizing: border-box;
    background: #C4C4C4;


}

/*A caixa onde vamos colocar a imagem dos comandos como exemplo */
.container-comandos2{
    
    width: 800px;
    background: #C4C4C4;
    box-sizing: border-box;

}





/*COntainer ACESSAR PAGINA */
.container-acessapagina{
    height: 1700px;
    margin-left: 50px;
    background: #F1F1F1;

}




/* Linha que esta em amarelo, nos nomes */



/*Textos dentro dos COntainers */

#texto-container{
    text-decoration: underline;
    text-decoration-color:#FFB444;
    text-decoration-thickness: 0.3em;
    font-family: 'Advent Pro', sans-serif;
    width: 247px;
    height: 43px;
    left: 20px;
    top: 20px;

    font-style: normal;
    font-weight: bold;
    font-size: 1.4em;
    line-height: 42px;

    color: #000000;


}

#espacamento{
    font-family: 'Advent Pro', sans-serif;
    font-size: 1.2em;
    padding-top: 2em;
    padding-left: 5em;

}


#index{
    color: #000000;
    text-align: center;
    text-decoration: underline;
    text-decoration-color:#FFB444;
    text-decoration-thickness: 0.3em;
    font-family: 'Advent Pro', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 1.4em;
    line-height: 42px;
    padding-left: 15em;
}