body {
  margin: 0%;
  padding: 0%;
}

* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

/* tentei fazer um div geral para adm todas */
.principal {
  width: 100%;
  max-width: 900px;
  max-width: 100%;
}

/* para mexer com o titulo e o fundo amarelo do titulo */
.container-topo {
  width: 100%;
  height: 165px;
  background: #ffb444;
}

/* texto do titulo */
.container-topo #texto-head {
  height: webkit-calc(100% - 100px);

  font-family: Advent Pro;
  font-style: normal;
  font-weight: bold;
  font-size: 50px;
  line-height: 60px;

  color: #000000;
}

/* container COMO FUNCIONA */
.container-comofunciona {
  width: -webkit-calc(100% - 100px);
  max-width: 900px;
  height: 819px;
  background: #f1f1f1;
}

/*COntainer COMOCRIAR */
.container-comocriar {
  width: -webkit-calc(100% - 100px);
  max-width: 900px;
  height: 1551px;
  background: #f1f1f1;
}

/*A caixa onde vamos colocar a imagem dos comandos como exemplo */
.container-comandos {
  width: -webkit-calc(100% - 100px);
  max-width: 800px;
  height: 554px;
  box-sizing: border-box;
  background: #c4c4c4;
}

/*COntainer ACESSAR PAGINA */
.container-acessapagina {
  width: 100%;
  max-width: 900px;
  height: 1389px;

  background: #f1f1f1;
}

/*A caixa onde vamos colocar a imagem dos comandos como exemplo */
.container-comandos2 {
  width: 82%;
  max-width: 800px;
  height: 469px;

  background: #c4c4c4;
  box-sizing: border-box;
}

/* Linha que esta em amarelo, nos nomes */

#linha {
  width: 250px;
  height: 0px;

  border: 4px solid #ffb444;
  transform: rotate(-0.24deg);
}

/*Textos dentro dos COntainers */

#texto-container {
  width: 247px;
  height: 43px;
  font-family: Advent Pro;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 42px;

  color: #000000;
}
