body {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}

* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
  font-family: "Advent Pro", sans-serif;
}

*::-webkit-scrollbar {
  width: 0.8em;
}
*::-webkit-scrollbar-track {
  background-color: #e6e6e6;
}
*::-webkit-scrollbar-thumb {
  background-color: rgba(158, 158, 158, 0.5);
  border-radius: 0.2em;
}

@font-face {
  font-family: Regular;
  src: url(../../assets/fonts/AdventPro-Regular.ttf);
}
@font-face {
  font-family: Negrito;
  src: url(../../assets/fonts/AdventPro-Bold.ttf);
}

.cabecalho {
  height: 15vh;
  width: 100%;
  background-color: #ffff81;

  padding: 20px 0px 20px 15px;
}

.cabecalho p {
  margin: 0%;
  padding: 0%;
  font-size: 50px;
  font-weight: 700;
  font-style: normal;
}

.container {
  width: 100%;
  min-height: 85vh;

  padding: 20px;
}

ol {
  padding: 20px;
}

.titulo {
  font-size: 2em;
}

div.p2 {
  background-color: #f1f1f1;
  padding: 20px;

  margin-bottom: 20px;
  font-size: 1.2em;
}

div.p3 {
  background-color: #f1f1f1;
  padding: 20px;

  margin-bottom: 20px;
  font-size: 1.2em;
}

.titulo {
  text-decoration: underline;
  text-decoration-color: #ffff81;
  margin-bottom: 15px;
}

.conteudo img {
  margin: auto;
  border-radius: 5px;
}

footer {
  background-color: black;
  padding: 2em;
  font-family: "Advent Pro", sans-serif;
}
.fim {
  color: blanchedalmond;
  font-family: Negrito;
  text-align: center;
}

#index {
  color: #000000;
  text-align: center;
  text-decoration: underline;
  text-decoration-color: #ffff81;
  text-decoration-thickness: 0.2em;
  font-family: "Advent Pro", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 1.2em;
  line-height: 42px;

  position: relative;
  left: 95%;
}
